<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
</head>
<body>
    <h1>Kanu's Website</h1>
    <h2>This will count the total number of words in the given paragraph</h2>
    <h4>This product is not yet registered in the market. So source code distribution is prohibited & Punishable!!!</h4>
    <a href="{%url 'home'%}">Go Back to Home</a>
</body>
</html>